<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/created.css">
</head>
<body>
    <h1>Poll Created</h1>
    <p>Your poll has been created at <a href='<%=path%>'>https://p.olls.xyz/<%=path%></a></p>
</body>
</html>