<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Create A Poll | PollsXYZ
    </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <a href="/"><img src="/images/Logo.png" alt="Poll XYZ" id="logo"></a>
            <a href="/" id="active" class="left"><p>Home</p></a>
            <a href="/details" class="left"><p>Details</p></a>
        </div>
        <div class="body">
            <div class="header">
                <div class="main-text">
                    <h1 id="header">Polls <br> XYZ</h1>
                </div>
                <div class="subheader">
                    <h1 id="subheader">Create and share polls with your friends</h1>
                </div>
                <div class="form">
                    <form action="/create" method="get">
                        <button type="submit" id="formbtn">Create Yours</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>